<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="Utility.TestListener"/>
    </listeners>
    <test name="Test1">
        <parameter name="Browser" value="Chrome"/>
        <classes>
            <class name="Selenium_Framwork.framwork_design.StandAloneTest"/>
        </classes>
    </test> <!-- Test -->

    <test name="Test2">
        <parameter name="Browser" value="Firefox"/>
        <classes>
            <class name="Selenium_Framwork.framwork_design.ErrorValidationTest"/>
        </classes>
    </test>

</suite> <!-- Suite -->